/* Body styles */
body {
    background-color: rgb(150, 196, 218);
    font-family: sans-serif;
    padding: 20px;
  }
  
  /* Header styles */
  header {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-family: Impact, serif;
  }
  
  /* Subheader styles */
  h2, h3 {
    font-size: 30px;
    font-family: Impact, serif;
  }
  
  /* Established text styles */
  .established {
    font-style: italic;
    text-align: center;
  }
  
  /* Centered content styles */
  .center-content {
    text-align: center;
  }
  
  /* Menu styles */
  .main-menu {
    width: 80%;
    background-color: rgb(71, 162, 205);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
  }
  
  /* Horizontal rule styles */
  hr {
    height: 2px;
    background-color: rgb(73, 67, 67);
    border-color: rgb(111, 107, 107);
  }
  
  /* Bottom line styles */
  .bottom-line {
    margin-top: 25px;
  }
  
  /* Item styles */
  .item {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  /* Item description styles */
  .item-description {
    text-align: left;
    width: 75%;
  }
  
  /* Item price styles */
  .item-price {
    text-align: right;
    width: 25%
  }
  
  /* Footer styles */
  footer {
    font-size: 14px;
  }
  
  /* Address styles */
  .address {
    margin-bottom: 5px;
  }
  
  /* Link styles */
  a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color:  rgb(71, 162, 205);
  }
  
  a:active {
    color:  rgb(71, 162, 205);
  }
  