
/*main {
  font-family: Arial, sans-serif;
} */

article {
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 2em;
  margin: 0;
  text-align: center;
}

.established {
  font-style: italic;
  margin-left: auto;
  text-align: center;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}

section h2 {
  font-size: 1.5em;
  margin: 1em 0;
}

.item {
  display: flex;
  align-items: center;
  margin: 0.5em 0;
}

.product-name {
  flex: 1;
  text-align: left;
    width: 75%;
}

.price {
  font-weight: bold;
  margin-left: auto;
  text-align: right;
    width: 25%
}
