

body {
  background-color:#57351b;
}

.menu {
padding: 1px;
ont-family: sans-serif;
margin-left: auto;
margin-right: auto;
padding: 20px;
max-width: 70%;
background: rgb(2,0,36);
background: #C4A484


}

header {
  text-align: center;
}

.established {
  font-style: italic;
  margin-left: auto;
  text-align: center;
}

h2 , h3 , h4 { 
  text-align: center;
}
hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  background-color: rgb(42, 88, 194);
  border-color: rgb(6, 5, 5);
}

section h2 {
  font-size: 1.5em;
  margin: 0.5em 0;
}

.item {
  display: flex;
  align-items: center;
  margin: 0.5em 0;
}



.price , .product-name  {
  text-align:center;
  width:100%;
}

 
/* Footer styles */
  footer {
    font-size: 14px;
    text-align:center;
  }
  
  /* Address styles */
  .address {
    margin-bottom: 5px;
  }
  
  /* Link styles */
  a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color:  rgb(14, 70, 94);
  }
  
  a:active {
    color:  rgb(27, 114, 158);
  }
