

body {
  background-image: url(src-images/dnd.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: 0 0px ;
}

/*  clr for background-color    */
.clr {
  background-color:  #4a5f68ad;
}

h1 {

  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*background-color: rgba(74, 95, 104, 0.48); */
  
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 5vh;
  background-color: #4a5f68ad;
  border-radius: 6px;
}

.logo {
  text-align: center;
  color: hsl(180, 100%, 100%);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 20px;
}

.nav_links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 40%;
}

.nav_links a {
  color: hsl(180, 100%, 100%);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1px;
  word-spacing: 5px;
  font-weight: bold;
  font-size: 14px;
}


@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .logo {
    text-align: center;
  }
  .nav_links {
    text-align: center;
  }
}


.image {
  padding-top: 5px ;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: relative;
}



  .text{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
    text-align: justify ;
    position: absolute;
    padding-right: 5%;
    padding-left: 5%;
    top: 50%;
    border-radius: 4px;
    background: rgba(74, 95, 104, 0.48);
    place-items: center;
  }

/* Preloader */

  #preloader {
 
    background: rgb(255, 255, 255) url(src-images/loader.gif) no-repeat center center;
    background-size: 15% ; 
    height: 100vh;
    width:100%;
    position:fixed;
    z-index: 100%
  
  }
  
 