
/*main {
  font-family: Arial, sans-serif;
} */

body {
  background-image: url("https://unsplash.com/photos/vYcADOyUrdA");
  font-family: sans-serif;
  padding: 20px;
}
.menu {
background: rgb(2,0,36);
background: #C4A484
  
}

header {
  text-align: center;
}

.established {
  font-style: italic;
  margin-left: auto;
  text-align: center;
}

h2 , h3 , h4 { 
  text-align: center;
}
hr {
  border: 0;
  border-top: 1px solid rgb(23, 19, 19);
  margin: 1em 0;
  background-color: rgb(11, 12, 16);
  border-color: rgb(6, 5, 5);
}

section h2 {
  font-size: 1.5em;
  margin: 0.5em 0;
}

.item {
  display: flex;
  align-items: center;
  margin: 0.5em 0;
}



.price , .product-name  {
  text-align:center;
  width:100%;
}

 
/* Footer styles */
  footer {
    font-size: 14px;
    text-align:center;
  }
  
  /* Address styles */
  .address {
    margin-bottom: 5px;
  }
  
  /* Link styles */
  a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color:  rgba(146, 157, 19, 0.288);
  }
  
  a:active {
    color:  rgba(92, 127, 22, 0.348);
  }
