
/*  clr for background-color    */
.clr {
  background-color:  #4a5f68ad;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  font-family: 'prosto-one-regular', sans-serif;
  background-color: #4a5f68ad;
}

.logo {
  text-rendering: geometricPrecision;
  color: hsl(180, 100%, 100%);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
  cursor: pointer;
}

.nav_links {
  display: flex;
  /* background-color: rgb(179, 157, 131); */
  justify-content: space-around;
  width: 30%;
}

.nav_links li {
  list-style: none;
}

/* Navigation bar popup menu */
.nav_links a {
  color:hsl(180, 100%, 100%);
  text-decoration: none;
  letter-spacing: 0.1px;
  word-spacing: 5px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: hsl(180, 100%, 100%);;
  margin: 5px;
}

@media screen and (max-width: 900px) {
  .nav_links {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .nav_links {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 35vh;
    background-color:  #4a5f68ad;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    text-align: center;
    height: 40%;
  }
  .nav_links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}


@keyframes navLinkFade{
  from {
    opacity: 0;
   transform: translateX( 50px );
  }
  to {
    opacity: 1;
    transform: translateX( 0px);
  }
}


 #preloader {
 
  background: rgb(255, 255, 255) url(src-images/loader.gif) no-repeat center center;
  background-size: 15% ; 
  height: 100vh;
  width:100%;
  position:fixed;
  z-index: 100%



}


.image {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: relative;

 }

h1 {

  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}


  .text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2px;
    color: aliceblue;
    text-align: justify ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, 0%);
    

  }
  