* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {

background-color: rgb(123, 189, 167);
display: absolute;
justify-content: center;
}

.clr {
  background-color: #04adfc74;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  font-family: 'prosto-one-regular', sans-serif;
  background-color: #111d2283;
}

.logo {
  text-rendering: geometricPrecision;
  color: #111d2283;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}

.nav_links {
  display: flex;
  /* background-color: rgb(179, 157, 131); */
  justify-content: space-around;
  width: 30%;
}

.nav_links li {
  list-style: none;
}

.nav_links a {
  color: rgba(49, 60, 58, 0.745);
  text-decoration: none;
  letter-spacing: 0.1px;
  word-spacing: 5px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: #111d2283;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .nav_links {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
  .nav_links {
    position: absolute;
    right: 0;
    height: 100vh;
    top: 35vh;
    background-color: #111d2283;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    text-align: center;
    height: 40%;
  }
  .nav_links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}


@keyframes navLinkFade{
  from {
    opacity: 0;
   transform: translateX( 50px );
  }
  to {
    opacity: 1;
    transform: translateX( 0px);
  }
}


 #preloader {
 
  background: rgb(255, 255, 255) url(src-images/loader.gif) no-repeat center center;
  background-size: 15% ; 
  height: 100vh;
  width:100%;
  position:fixed;
  z-index: 100%



}